# Executable files
*.exe
*.out
*.app

# C++ build files
*.o
*.obj
*.dll
*.so
*.dylib

# IDE specific files
.vscode/
.idea/
*.swp
*.swo
*~

# Exclude .cph folder and its contents
.cph/
.cph/*

# Exclude input.txt and output.txt files
input.txt
output.txt